@model MvcSomeren.Models.Supervisor

@{
    ViewData["Title"] = "Add New Supervisor";
}

<h4>Add New Supervisor</h4>

<form action="/Supervisors/Create" method="post">
    <div class="form-group py-2">
        <div class="form-group form-control-lg col-md-4">
            @Html.LabelFor(model => model.LecturerId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.LecturerId, (SelectList)ViewData["Supervisors"]!, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LecturerId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group py-2">
        <div class="form-group form-control-lg col-md-4">
            @Html.LabelFor(model => model.ActivityId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ActivityId, (SelectList)ViewData["Activities"]!, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ActivityId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group col-md-6 form-control-lg">
        <label for="SupervisingDate">Supervising Date:</label>
        <input type="number" id="SupervisingDate" name="SupervisingDate" class="form-control" placeholder="06042012" required
               value="@Model?.SupervisingDate"/>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>