@model List<MvcSomeren.Models.Supervisor>

@{
    ViewData["Title"] = "Lecturers Page";
}

<div class="text-center">
    <h1 class="display-4">Supervisors</h1>
    <a href="/Supervisors/Create" class="button-create" role="button"><span class="text">Create New</span><span>Create New</span></a>
    <p>Number of supervisors in the list: @Model.Count</p>
    <form method="get" action="@Url.Action("Filter")">
        <div class="form-group py-2">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" id="lastName" name="lastName" />
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Supervisor Id</th>
            <th>Supervising Date</th>
            <th>LecturerId</th>
            <th>ActivityId</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var supervisor in Model)
            {
                <tr>
                    <td>@supervisor.SupervisorId</td>
                    <td>@supervisor.SupervisingDate</td>
                    <td>@supervisor.LecturerId</td>
                    <td>@supervisor.ActivityId</td>
                    <td>
                        <a href="/Supervisor/Edit/@supervisor.SupervisorId" class="button-edit">Edit</a>
                        <a href="/Supervisor/Delete/@supervisor.SupervisorId" class="button-delete">Delete</a>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>