@model MvcSomeren.Models.DrinkOrderViewModel

@{
    ViewData["Title"] = "Add new Order";
}

<div>
    <div class="d-flex justify-content-center mr-6 my-lg-5">
        <h4>New Order</h4>
    </div>
    <div class="d-flex justify-content-center mb-4">
        <a href="/DrinkOrder/Index" class="back-to-list mx-4">Back to Order List</a>
    </div>
    <form method="post" action="/DrinkOrder/Create">
        @if (ViewData.ModelState["ValidationError"] != null)
        {
            <span
                class="text-danger">@ViewData.ModelState["ValidationError"]?.Errors.FirstOrDefault()?.ErrorMessage</span>
        }
        @if (ViewData.ModelState["OrderAdded"] != null)
        {
            <span
                class="text-info">@ViewData.ModelState["OrderAdded"]?.Errors.FirstOrDefault()?.ErrorMessage</span>
        }
        <div class="form-group row">
            <div class="form-group col-md-6 form-control-lg">
                <label asp-for="Order.StudentId" class="form-label">Student Details</label>
                <select asp-for="Order.StudentId" class="form-select hover-animate">
                    <option value="">Select a Student</option>
                    @foreach (var student in Model.AllStudents)
                    {
                        <option
                            value="@student.StudentId">@student.StudentNumber - @student.StudentClass - @student.StudentFirstName - @student.StudentLastName - @student.StudentClass - Room(@student.StudentRoomId)</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col-md-6 form-control-lg">
                <label asp-for="Order.DrinkId" class="form-label">Drink Details</label>
                <select asp-for="Order.DrinkId" class="form-select hover-animate">
                    <option value="">Select a Drink</option>
                    @foreach (var drink in Model.AllDrinks)
                    {
                        <option
                            value="@drink.Id">@drink.Name - Is Alcholic: @drink.IsAlcoholic - Amount:(@drink.AmountOfStock) - Vat Rate(%@drink.VatRate)</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="form-group col-md-6 form-control-lg">
                <label asp-for="Order.Quantity" class="form-label">Total Drink</label>
                <input asp-for="Order.Quantity" class="form-control hover-animate"/>
                <span asp-validation-for="Order.Quantity" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-4 row justify-content-center">
            <div class="mx-1 my-4">
                <button type="submit" class="button-save" onclick="return confirm('Are you sure to order drink? @Model.');">Add
                    Order
                </button>
            </div>
        </div>
    </form>
</div>