@model List<MvcSomeren.Models.Room>
@{
    ViewData["Title"] = "Rooms Page";
}

<div class="text-center">
    <h1 class="display-4">Rooms</h1>
    <a href="/Rooms/Create" class="button-create" role="button"><span class="text">Create new</span><span>Create New</span></a>
    <p>Number of rooms in the list: @Model.Count</p>
    <form method="get" action="@Url.Action("Filter")">
        <div class="form-group py-2">
            <label for="RoomSize">Room Size:</label>
            <input type="text" class="form-control" id="RoomSize" name="RoomSize" />
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Room Number</th>
                <th>RoomSize</th>
                <th>RoomType</th>
                <th>Building</th>
                <th>Floor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var room in Model)
                {
                    <tr>
                        <td>@room.RoomNumber</td>
                        <td>@room.RoomSize</td>
                        <td>@room.RoomType</td>
                        <td>@room.Building</td>
                        <td>@room.Floor</td>

                        <td>
                            <a href="/Rooms/Edit/@room.RoomId" class="button-edit"><i class="bi bi-pencil-square"></i>Edit</a>
                            <a href="/Rooms/Delete/@room.RoomId" class="button-delete"><i class="bi bi-trash3"></i>Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">