@model MvcSomeren.Models.Participator
@{
	ViewData["Title"] = "Create Participator";
}

<div>
<div class="d-flex justify-content-center mr-6 my-lg-5">
	<h4>New Participator</h4>
</div>

     <div class="d-flex justify-content-center mb-4">
         <a href="/Participators/Index" class="back-to-list mx-4">Back to Participator List</a>
     </div>
         <form action="/Participators/Create" method="post">

         <div class="form-group row">
             <div class="form-group col-md-6 form-control-lg">
                <label for="ParticipateDate">Participate Date:</label>
                <input type="text" id="ParticipateDate" name="ParticipateDate" class="form-control" required value="@Model?.ParticipateDate" />
             </div>
         </div>

         <div class="form-group row">
             <div class="form-group col-md-6 form-control-lg">
                <label for="StudentId">Student Id:</label>
                <input type="number" id="StudentId" name="StudentId" class="form-control" required value="@Model?.StudentId" />
             </div>
         </div>

        <div class="form-group row">
            <div class="form-group col-md-6 form-control-lg">
                <label for="ActivityId">Activity Id:</label>
                <input type="number" id="ActivityId" name="ActivityId" class="form-control" required value="@Model?.ActivityId" />
            </div>
        </div>

         <div class="mx-1 my-4">
             <button type="submit" class="button-save">Add Drink</button>
         </div>
     </form>
</div> 


@* @model MvcSomeren.Models.Participator

@{
	ViewData["Title"] = "Add Patrticipant";
}

<h4>Add New Participant</h4>

<a href="/Participants/Index">Back to List</a>

<form action="/Participants/Add" method="post">
	<div class="form-group py-2">
		<label for="StudentId">Student:</label>
		<select id="StudentId" name="StudentId" asp-for="StudentId" required>
			<option value="" disabled selected>Please select one</option>
			@{
				foreach (Student student in MvcSomeren.Controllers.ManageParticipantsController._studentRepository.GetAll())
				{
					<option value="@student.StudentNumber">@student.StudentFirstName</option>
				}
			}
		</select>
	</div>

	<div class="form-group py-2">
		<label for="ActivityId">Activity:</label>
		<select id="ActivityId" name="ActivityId" asp-for="ActivityId" required>
			<option value="" disabled selected>Please select one</option>
			@{
				foreach (Activity activity in MvcSomeren.Controllers.ManageParticipantsController._activityRepository.GetAll())
				{
					<option value="@activity.ActivityId">@activity.ActivityName (@activity.Date)</option>
				}
			}
		</select>
	</div>

	<button type="submit" class="btn btn-primary">Add</button>
</form> *@