@model MvcSomeren.Models.Activity

@{
    ViewData["Title"] = "Create Activity";
}

<div>
    <div class="d-flex justify-content-center mr-6 my-lg-5">
        <h2>Create Activity</h2>
    </div>
    <div class="d-flex justify-content-center mb-4">
        <a href="/Activities/Index" class="back-to-list mx-4">Back to List</a>
    </div>
    <form action="/Activities/Create" method="post"> 

            <div class="form-group form-control-lg col-md-4">
                @Html.LabelFor(model => model.ActivityName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.ActivityName, new List<SelectListItem>
                    {
                    new SelectListItem {Text = "Soccer Tournament", Value = "Soccer Tournament", Selected = true },
                    new SelectListItem {Text = "Puzzle Quest", Value = "Puzzle Quest" },
                    new SelectListItem {Text = "Obstacle Course", Value = "Obstacle Course" },
                    }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ActivityName, "", new { @class = "text-danger" })
                </div>
			</div>

            <div class="form-group form-control-lg col-md-4">
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Date, new List<SelectListItem>
                    {
                    new SelectListItem {Text = "Monday", Value = "Monday", Selected = true },
                    new SelectListItem {Text = "Tuesday", Value = "Tuesday" },
                    }, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-2 form-control-lg">
                <label for="time" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Time:</label>
                <div class="relative">
                <input type="text" id="Time" name="Time" class="bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" min="09:00" max="18:00" value="@Model?.Time" required />
                </div>
            </div>

        <div class="mx-1 my-4">
            <button type="submit" class="button-save">Create</button>
        </div>
    </form>
</div>