@model List<MvcSomeren.Models.Activity>

@{
    ViewData["Title"] = "Activities Page";
}

<div class="text-center">
    <h1 class="display-4">Activities</h1>
    <a href="/Activities/Create" class="button-create" role="button"><span class="text">Create new Activity</span><span>Have Activity bro, bruh</span></a>
    <p>Number of activities in the list: @Model.Count</p>
    <form method="get" action="@Url.Action("Filter")">
        <div class="form-group py-2">
            <label for="ActivityName">Activity Name:</label>
            <input type="text" class="form-control" id="ActivityName" name="ActivityName" />
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Activity Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var activity in Model)
                {
                    <tr>
                        <td>@activity.ActivityName</td>
                        <td>@activity.Date</td>
                        <td>@activity.Time</td>
                        <td>
                            <a href="/Activities/Edit/@activity.ActivityId" class="button-edit">Edit</a>
                            <a href="/Activities/Delete/@activity.ActivityId" class="button-delete">Delete</a>
                            <a href="/Activities/Manage/@activity.ActivityId" class="button-delete">Manage</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>