@model MvcSomeren.Models.ManageActivityViewModel

@{
    ViewData["Title"] = "Activities Page";
}

<div class="text-center">
    <h1 class="display-4">Activities</h1>
    <a href="/Activities/Create" class="button-create" role="button"><span class="text">Create new Activity</span><span>Have Activity bro, bruh</span></a>
    <form method="get" action="@Url.Action("Filter")">
        <div class="form-group py-2">
            <label for="ActivityName">Activity Name:</label>
            <input type="text" class="form-control" id="ActivityName" name="ActivityName" />
        </div>
        <button type="submit" class="btn btn-primary">Filter</button>
    </form>
</div>

<div class="text-center pb-5">
    <h1 class="display-4 py-lg-5 m-2">Supervisors Management</h1>
    <hr class="m-xxl-5">
    <h1 class="display-5 my-4 p-2">Supervisors</h1>
    <a href="/LecturerSupervisor/Create" class="button-create m-2" role="button">
        <span class="text">Create Supervisor</span>
    </a>
    <table class="table table-hover my-4">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Age</th>
            <th>Activity Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Supervisors)
        {
            <tr>
                <td>@item.Lecturer.FirstName</td>
                <td>@item.Lecturer.LastName</td>
                <td>@item.Lecturer.PhoneNumber</td>
                <td>@item.Lecturer.Age</td>
                <td>@item.ActivityId</td>
                <td>@item.SupervisingDate</td>
                <td></td>
            </tr>
        }
        </tbody>
    </table>
</div>