@model MvcSomeren.Models.ManageActivityViewModel

<div class="text-center pb-5">
    <h1 class="display-6 py-lg-4">Activity name: @Model.Activity.ActivityName</h1>
</div>

<div class="text-center pb-5">
    <a href="/ManageParticipants/Create" class="button-create m-2" role="button">
        <span class="text">Create Participant</span>
        <span>Create Participant</span>
    </a>
</div>

<div class="text-center pb-5">
    <hr class="m-xxl-5">
    <h3 class="display-5 my-4 p-2">Participants</h3>
    <table class="table table-hover my-4">
        <thead>
            <tr>
                <th>Student Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Class</th>
                <th>Phone Number</th>
                <th>Participating Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Participators)
            {
                <tr>
                    <td>@item.student.StudentNumber</td>
                    <td>@item.student.StudentFirstName</td>
                    <td>@item.student.StudentLastName</td>
                    <td>@item.student.StudentClass</td>
                    <td>@item.student.StudentPhoneNumber</td>
                    <td>@item.ParticipateDate</td>
                    <td>
                        <form method="post" asp-action="RemoveParticipant" asp-controller="Activities">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="participantId" value="@item.ParticipatorId" />
                            <input type="hidden" name="activityId" value="@item.ActivityId" />

                            <button type="submit" class="btn btn-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="text-center pb-5">
    <hr class="m-xxl-5">
    <h3 class="display-5 my-4 p-2">Non Participants</h3>
    <table class="table table-hover my-4">
        <thead>
            <tr>
                <th>Student Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Class</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Students)
            {
                <tr>
                    <td>@item.StudentNumber</td>
                    <td>@item.StudentFirstName</td>
                    <td>@item.StudentLastName</td>
                    <td>@item.StudentClass</td>
                    <td>@item.StudentPhoneNumber</td>
                    <td>
                        <form asp-action="AddParticipant" method="post">
                            <input type="hidden" name="StudentId" value="@item.StudentId" />
                            <input type="hidden" name="ActivityId" value="@Model.Activity.ActivityId" />
                            <button type="submit" class="btn btn-success">Add</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>