@model MvcSomeren.Models.ManageActivityViewModel

<div class="text-center pb-5">
    <h1 class="display-6 py-lg-4">Activity name: @Model.Activity.ActivityName</h1>
</div>

<div class="text-center pb-5">
    <a href="/LecturerSupervisor/Create" class="button-create m-2" role="button">
        <span class="text">Create Supervisor</span>
        <span>Create Supervisor</span>
    </a>
</div>

<div class="text-center pb-5">
    <hr class="m-xxl-5">
    <h3 class="display-5 my-4 p-2">Supervisors</h3>
    <table class="table table-hover my-4">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Age</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Supervisors)
        {
            <tr>
                <td>@item.Lecturer.FirstName</td>
                <td>@item.Lecturer.LastName</td>
                <td>@item.Lecturer.PhoneNumber</td>
                <td>@item.Lecturer.Age</td>
                <td>@item.SupervisingDate</td>
                <td>
                    <a href="/LecturerSupervisor/Delete/@item.SupervisorId" class="button-delete">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="text-center pb-5">
    <hr class="m-xxl-5">
    <h3 class="display-5 my-4 p-2">Non Supervisors</h3>
    <table class="table table-hover my-4">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Age</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.NonSupervisor)
        {
            <tr>
                <td>@item.Lecturer.FirstName</td>
                <td>@item.Lecturer.LastName</td>
                <td>@item.Lecturer.PhoneNumber</td>
                <td>@item.Lecturer.Age</td>
                <td>@item.SupervisingDate</td>
                <td>
                    <a href="/LecturerSupervisor/Delete/@item.SupervisorId" class="button-delete">Delete</a>
                    <a href="/LecturerSupervisor/Create/@item.SupervisorId" class="button-edit">Add</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>